<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="4">
  <test name="Test">
    <groups>
      <run>
        <include name="ShiftAddTests"/>
      </run>
    </groups>
    <classes>
      <class name="HpaTestCases.AppOpenTest"/>
      <class name="HpaTestCases.LoginTest"/>
      <class name="HpaTestCases.DashboardTest"/>
      <class name="HpaTestCases.ShiftAddTests"/>
    </classes>
  </test>
</suite>
